
/*body index*/

html, body {
    height: 100%;
}

.main-container {
    flex: 1 0 auto; /* this ensures the container will take up any available space */
}

@media (min-width: 1127px) {
	.main-container{
		margin: auto;
		display: flex;
		justify-content: center;
	}
}

.generic-section {
	margin: 30px;
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: #999;
	flex-grow: 1;
	background: #ffffffcf;
  	border-radius: 10px 10px;
}

.generic-container{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-top: 10px;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	justify-content: center;
	width: 95%;
}

.card {
	min-height: 180px;
}

.card-img-left {
    /* Remove fixed width */
    max-height: 200px; /* Image can go up to 200px wide, but can shrink */
    object-fit: cover; /* Image will cover the whole space without distorting its aspect ratio */
}

/*menu-options */

.menu-options-container {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
}

.menu-options{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	background-color:  #fff;
	border-radius: 10px;
	margin: 15px ;
	width: max-content;
}

@media (max-width: 767px) { /* 767px is a commonly used breakpoint for mobile devices */
    .card {
        flex-direction: column !important;
    }
}
