@charset "UTF-8";

@media (min-width: 1127px){
    .main-container{
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

.generic-section{
    margin: 45px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #999;
    flex-grow: 1;
    background: #ffffffcf;
    border-radius: 10px 10px;
}

.generic-container{
    display: flex;
    justify-content: center;
    width: 95%;
    gap: 60px;
    border-radius: 10px;
    margin-top: 45px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
	height: 100%;
	width: 100%;
    
}

.img-card{
    display: flex;
    align-items: center;
    justify-content: center;
	max-height: 145px;
	border-radius: 10px;
}

.card img{
    max-width: 100%;
    max-height: 145px;
    /* border-radius: 10px; */
}

/*menu-options */
.menu-options-container {
	margin-top:25px;
	padding: 45px;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
}

.menu-options{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	background-color:  #fff;
	border-radius: 10px;
	margin: 15px ;
	width: auto;
}

.keyWords {
	padding: 20px;
	margin: 5px;
	color: #999;
    text-align: center; /* Alinea el texto al centro */
    margin: 0 auto; /* Establece un margen automático a los lados para centrar el elemento */
    width: fit-content; /* Ajusta el ancho al contenido */
}

.key{
	text-align: center;
	margin: 10px;
}

/* Mobile */
@media (max-width: 1127px) {
    
    .card-container{
		flex-direction: column;
	}
	
	.generic-container{
		  flex-direction: column;
	}
	
	.card-box{
		width: 100%;
		height: auto;
	}
	
	.card{
		padding: 5px;
		align-items: start;
	}
	.img-card{
		margin-top: 30px ;
		align-items: flex-start;
		max-width: 70px;
	}
	
	.detail-container{
		width: 100%;
	}
	
	.img-titulo-container{
		flex-direction: column-reverse;
	}
}

/* ################################################################### */

.card2{
    outline: none;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px 4px #ccc;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
    word-wrap: break-word;
}

.img-card2 {
	border: 1px solid lightslategrey;
	margin-right: 5px;
	max-height: 145px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card2 img{
	max-height: 145px;
    max-width: 100%;
	border-radius: 10px;
}

.detail-description {
    color: rgb(61, 56, 70);
    font-size: 15px;
} 

.oferta-section{   
    border-radius: 10px;
    font-size: 1rem;
    padding: 45px;
    margin: 20px 0 50px;
    background: #ffffffcf;
}

.info-container {
	font-size: 1rem;
}
/* ################################################################### */

.right-column-section{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
} 

.postulantes-container{
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	background-color:  #fff;
	border-radius: 10px;
	margin: 15px ;
	width: auto;
}

.Postulantes{
    padding: 20px;
	margin: 5px;
	color: #999;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.img-postulante{
	display: flex;
	width: 160px;
	height: 160px; 
	object-fit: contain;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.paquete-container{
	border-radius: 10px;
    background-color:  #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 40px;
    width: auto;
}

.paquete{
	padding: 20px;
	margin: 5px;
	color: #999;
	margin: 0 auto;
	width: fit-content;
}
